/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;

    background: url('https://images.unsplash.com/photo-1511795409834-ef04bbd61622') no-repeat center/cover;
}

/* Overlay */
.overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    color: white;
}

/* Center Title */
.center-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Big Stylish Title */
.title {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px #ff758c, 0 0 20px #ff4d6d;
}

/* Tagline */
.tagline {
    margin-top: 10px;
    font-size: 20px;
    color: #ddd;
}

/* Grid Layout */
.event-grid {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
}

/* Cards */
.card {
    text-decoration: none;
    color: white;
    padding: 20px;
    text-align: center;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;

    backdrop-filter: blur(8px);
    transition: all 0.3s ease;

    font-weight: 500;
}

/* Hover */
.card:hover {
    transform: scale(1.08);
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    box-shadow: 0 8px 25px rgba(255, 118, 150, 0.6);
}